%table
  %thead
    %tr
      %th Status
      %th
  %tbody
    - pings.each do |ping|
      %tr.ping
        %td= ping.response_status_code
        %td= ping.performed_at.strftime "%b %e, %Y at %l:%M:%S %p %Z"