development:
  host: 'localhost'
  port: 6379
  web_user: x
  web_pass: x

test:
  host: 'localhost'
  port: 6379
  web_user: x
  web_pass: x

production:
  host: CHANGEME
  username: CHANGEME
  password: CHANGEME
  port: CHANGEME
  web_user: CHANGEME
  web_pass: CHANGEME