development:
  host: 'localhost'
  port: 6379
  web_user: x
  web_pass: x

test:
  host: 'localhost'
  port: 6379
  web_user: x
  web_pass: x

production:
  host: 'herring.redistogo.com'
  username: 'redistogo'
  password: '4edf5d726c519fbd2f1007cf3e5cc751'
  port: 9079
  web_user: <changeme>
  web_pass: <changeme>