%table
  %thead
    %tr
      %th For
      %th Response status code is not
      %th Times in a row
      %th Alert via
  %tbody
    - alerts.each do |alert|
      - present alert do
        %tr
          %td= location
          %td= code_is_not
          %td= times
          %th= email_callback