%h2 Remove email callback

= form_tag email_callback_path(email_callback), method: :delete do
  %p
    Are you sure you want to
    %strong Remove this email callback?
  = button_tag 'Yes, remove it'
  = link_to 'cancel', root_path