#email_callbacks
  %h2 Email callbacks

  %p= link_to 'Add email callback', new_email_callback_path

  - if email_callbacks.present?
    = render 'email_callbacks/table', :email_callbacks => email_callbacks
  - else
    %p.empty No email callbacks found.
