/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require formalize
*/

$link_color: #3030ff;
$bg_color: #fff;
$font_color: #303030;

@import url(http://fonts.googleapis.com/css?family=Varela+Round|Neuton&v2);
@import 'reset';
@import 'elements';

body { padding: 20px 30px; }

table {
  tr {
    border-bottom: 1px solid #dfdfdf;
  }
}

.input { margin: 0 0 20px 0; }

#pings {
  table { margin-bottom: 20px; }
}

#locations {
  table {
    margin-bottom: 20px;

    ul {
      margin: 0;

      li {
        float: left;
        margin-right: 10px;
        list-style: none;
      }
      li.last { margin-right: 0; }
    }

    .edit, .remove {
      a {
        background-repeat: no-repeat;
        background-position: left top;
        display: block;
        height: 16px;
        width: 16px;

        span { display: none; }
      }
    }
    .edit a { background-image: image-url('icons/pencil.png'); }
    .remove a { background-image: image-url('icons/bin_closed.png'); }
  }
}

#location {
  #info {
    table { margin-bottom: 20px; }
  }
}

.empty {
  border: 1px dashed #ddd;
  color: #cfcfcf;
  padding: 30px;
}

#footer {
  color: #9f9f9f;
  margin-top: 40px;

  a { color: #9f9fff;}
}