%h2 Remove URL

= form_tag location_path(location), :method => :delete do
  %p
    Are you sure you want to
    %strong Remove this URL?

  = button_tag 'Yes, remove it', :class => 'btn btn-default'
  = link_to 'cancel', root_path